body{
    background-color: rgb(189, 139, 240);
}
.slider-image{
    height:  600px !important;
    object-fit: cover;
}
.service_icon{
    font-size: 100px;
    color: blueviolet;
}
.background1{
    background-color: rgb(120, 71, 118);
    color: antiquewhite;
}